/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body{
    background-color: #fafafa;
}
.mat-form-field-appearance-fill .mat-form-field-flex{
    border-radius: 4px !important;
}
.error-bg.mat-form-field-appearance-fill .mat-form-field-flex{background-color:#FFEBEE;
color: #EF5350;}
.mat-form-field-appearance-outline .mat-form-field-outline-thick{
    color: rgba($color: #000000, $alpha: 0.12);
}
.error-bg input{
    color: #EF5350;
}
.mat-form-field-outline-thick{
    color: rgba($color: #000000, $alpha: 0.12) !important;

}
.custom-snack-bar{
    display: grid;
    align-items: center;

    grid-template-columns: 1fr auto;
}
.custom-snack-bar-body{
    display: grid;
    grid-template-columns:  auto 1fr;
    column-gap: 13px;
    align-items: center;
    width: 100%;
    max-width: 500px;
}
.custom-snack-bar-body svg{
    height: 23px;
    display: grid;
    align-items: center;
    justify-items: center;
}
.custom-snack-bar-body-text{
    font-size: 14px;
    max-width: 440px;
    width: 100%;
    
}
.custom-snack-bar-close{
    cursor: pointer;
}
.custom-snack-bar-error-text{
    color: #EF9A9A;
}

.custom-snack-bar-success-text{
    color: #81C784;
}

.inputs-body *{
    font-weight: 500;
}
.mat-snack-bar-container{
    margin: 0 0 24px 0 !important; 
    max-width: 100vw !important;
    min-width: 520px !important;
}
.custom-snack-bar-error-text, .custom-snack-bar-success-text{
    padding-right: 20px;
}
.cdk-overlay-pane{
    width: 100%;
    display: grid;
    justify-items: center;
}

@media  (max-width: 730px) {
        .mat-snack-bar-container{
            max-width: 100vw !important;
            min-width: 0px !important;
    }
    .cdk-overlay-pane{
        margin: 0 15px;
    }
}

