<footer>
    <div>
        <ul>
            <li class="footer-ul-li-1">
                <div>Copyright © 2020 Partnersbook.All rights reserved.</div>
            </li>
            <li class="footer-ul-li-2">
                <a href="#">Support</a>
            </li>
            <li class="footer-ul-li-3">
                <a href="#">Privacy Policy</a>
            </li>
            <li class="footer-ul-li-4">
                <a href="#">Terms of Use</a>
            </li>
        </ul>
    </div>
</footer>